@import "tailwindcss";

@font-face {
  font-family: "arniya";
  src: url("/fonts/Arniya-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "runiga";
  src: url("/fonts/Runiga.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  /* Color utilities like bg-red-500, text-sky-300, and many more */
 
  --color-body: #f4e6ff;
  --color-accent: black;
  /* Font family utilities like font-sans */
  /* --font-sans: "runiga", sans-serif; */
  --font-name: "runiga", serif;
}
